body {
  background: #f8f8f8;
  color: #626262;
  font-family: "Helvetica Neue",Arial,sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.4;
}
.pokeWrapper {
  margin: 5rem auto 0;
  background: #fff;
  max-width: 960px;
  border-radius: .5rem;
  box-shadow: 0 4px 25px 0 rgba(0,0,0,.1);
}
.ui.container {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (prefers-reduced-motion: no-preference) {
  .pokeball-logo {
    animation: pokeball-spin infinite 2s linear;
  }
}

@keyframes pokeball-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
